body{
  background-image:url(images/1000_F_247514778_guKLM00FZgbHMJpEBgA2MCpmxsGFWEG2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin:0;
}
body::-webkit-scrollbar{
  display: none;
}
button{
  position: fixed;
  background-color: transparent;
  border-radius: 50px;
  font-weight: bolder;
  text-decoration:none;
  margin:2px;
}
button:hover{
  cursor: pointer;
  color: white;
  background-color: black;
  transition: .3s;
}
header{
  height: 50px;
  background-color: rgba(255,255,255,.6);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-weight: bolder;
  font-size: x-large;
}

h2{
  padding: 4px;
  border: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: aliceblue;
  text-align: center;
}
h3{
  font-size:xx-large;
  font-weight: 100;
}

.subc{
  font-family:Arial, Helvetica, sans-serif;
  font-size: medium;
}

.sub{
  font-weight:200;
  font-size: medium;
}
.skill{
  border: solid;
  border-width:1px;
  padding: 5px;
  border-radius: 8px;
}

ul li{
  text-align: left;
}

.id{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(255,255,255, .7);
  margin-top: 70px;
  margin-bottom: 0;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
}
img{
  align-self: center;
  border: solid;
  margin-right: 10px;
  border-radius: 50%;
  height: 200px;
  width: 180px;
}

#contact{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 0;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgba(255,255,255, .7);
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  list-style: none;
}
#contact::-webkit-scrollbar{
  display:none;
}
#contact ul{
  justify-content: center;
  display: inline-flex;
  flex-direction: row;
  list-style: none;
}
#contact li{
  margin:0;
  display: flex;
  justify-content: center;
  text-align: center;
}